.gb-m {
  max-height: 40vh;
  cursor: pointer
}

.gb-m:active {
  transform: scale(0.95); /* Slightly scale down when clicked */
  transition: transform 0.1s; /* Smooth transition for the effect */
}

.loadingImg {
  max-height: 90vh;
}